{% extends 'base.html.twig' %}

{% block title %}News Portal - Contacts {% endblock %}

{% block body %}

    <div class="container">

        <dd class="row">
            <dt class="col-sm-3">E-mail:</dt>
            <dd class="col-sm-9">news@example.com</dd>

            <dt class="col-sm-3">Phone number:</dt>
            <dd class="col-sm-9">+38 (044) 999-99-99</dd>

            <dt class="col-sm-3">Adress:</dt>
            <dd class="col-sm-9">Kyiv, Smolenskaya str. 1</dd>
        </dl>

        <div class="text-center"> <p>-------------------------</p> </div>
        <div class="row">Use this form for your feedback:</div>

    </div>

    <div class="container">

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        {% if formSuccess %}
            <div class="alert alert-success col-sm-3" role="alert">
                Thanks for your feedback! <br> It was successfully sended to us.
            </div>
        {% endif %}

    </div>

{% endblock %}